@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');
form,
input {
    font-family: 'Sora', sans-serif;
}

form {
    border: 1px solid #cccccc;
    border-radius: 16px;
    margin-top: 48px;
    padding: 48px;
    text-align: left;
}

label {
    font-size: 1rem;
}

label:first-child {
    display: block;
    font-weight: bold;
    margin-bottom: 24px;
}

input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 1rem;
    margin-top: 8px;
    padding: 16px;
    width: 92%;
}

button {
    border: none;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    padding: 8px 16px;
    transition: all 450ms;
}

.submit-btn {
    background-color: #007bff !important;
}

.submit-btn:hover {
    background-color: #e6840c !important;
}

.reset-btn {
    background-color: #161718 !important;
    margin-left: 8px;
}

.reset-btn:hover {
    background-color: #ffb04f !important;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
}