@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

h1,
h2 {
    font-family: 'Sora', sans-serif;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}